.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.recharts-wrapper {
  margin: 0 auto;
}

.cell-board {
  display: table;
  margin: 0 auto;
}

.cell-row {
  display: table-row;
}

.cell-block {
  width: 10px;
  height: 10px;
  display: table-cell;
  border: 1px solid #fff;
  font-size: 0;
  background: #eee;
}

.dead {
  background: #eee;
}

.alive {
  background: green;
}

.actions {
  margin-top: 30px;
}

.button {
  background: darkgreen;
  color: #fff;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  width: 160px;
  margin: 8px auto;
}

.button.reset {
  background: #aaa;
  color: #000;
}
